img.banner_bread {
    width: 100%;
    height: 270px;
    padding: 17px 0px 17px 30px;
    margin-top: 72px;
}
.box{
    position: relative;
    width: 100%;
}
.centered_title{
    position: absolute;
    top: 49%;
    color: black;
    left: 50%;
    transform: translate(-50%, 0%);
}
.centered_title h1{
    font-weight: 600;
}
.view_all a {
    float: right;
    padding: 20px 16px 3px 0px;
    text-decoration: revert;
    color: black;
}


/* css for cart page */
.table-responsive {
    width: 95%;
    margin-left: 28px;
    margin-top: 36px;
    border-top: 1px solid #dddddd;
}

/* ////////////////////////// */


/* Responsive */
@media only screen and (max-width: 600px) {
    .centered_title h1{
        font-size: 25px;
        transform: translate(8%, 0%);
    }
    .view_all a { 
        width: 90px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){
  .view_all a {
      width: 100px;
  }
    .centered_title h1 {
        font-size: 25px;
        transform: translate(8%, 0%);
    }
}