.centered {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0%);
}
.title_signup{
    font-weight: 600;
    text-align:center;
    padding: 10px 0px;
    font-size: 26px;
}
.btn_signup{
    width: 100%;
    background-color: yellow;
    font-weight: 600;
    color: black;
    border: none;
    height: 40px;
   
}
.facebook_login_btn{
    margin-top: 10px;
    width: 100%;
    background-color: #3f4eda;
    font-weight: 600;
    color: white;
    border: none;
    height: 40px;
}
.facebook_login_btn i{
    font-size: 20px;
    padding: 8px;
}

.ggmap{
    padding-top: 40px;
}

.btn_send{
    background-color: yellow;
    font-weight: 600;
    width: 100px;
    border-radius: 20px;
    box-shadow: 9px 0px 8px 0px beige;
    margin: 0 auto;
    color: black;
    border: none;
    height: 40px;
}

form.contact_form button {
   
    transform: translate(200px, 0%);
}


/* css card body */

h5.card-title {
    font-size: 20px;
}

h4.card-text {
    font-size: 22px;
}
/* ////////////////////// */



/* css btn_continue_shopping */
.btn_continue_shopping{
    background-color: yellow;
    font-weight: 600;
    width: 93%;
    border-radius: 20px;
    margin-bottom: 55%;
    box-shadow: 9px 0px 8px 0px beige;
    color: black;
    border: none;
    height: 40px;
}

/* //////////////////////// */



/* css for news section */
.news_post{
    width: 96%;
    margin: 0 auto;
    height: 490px;
    padding-top: 10px;
}

.post_ {
    height: 150px;
}
/* ////////////////////////// */

.view_all_news {
    padding: 40px 0px 0px 108px;
    font-weight: 600;
}
.view_all_news a{
    color: black;
}

/* css for news section */
.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin-bottom: 15px;
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;     
    height: 76px;   
    text-align: center;
    top: 68%; /* Adjust this value to move the positioned div up and down */
    background: rgb(232 255 40 / 78%);
    font-family: Arial,sans-serif;
    color: #fff;
   
}
.text h1 {
    font-size: 24px;
    text-align: left;
    padding: 0px 0px 3px 10px;
    color: black;
    font-family: 'Darker Grotesque';
}

/* /////////////////////// */


/* css the checkout page */
.order span {
    padding-right: 20px;
    font-weight: 600;

}

span.test {
    /* float: right; */
    padding-left: 27%;
}
.fill_data {
    /* margin-top: 82px; */
    position: relative;
    top: 86px;
}
.your-class input{
    margin-right: 3px;
    /* font-size: 17px; */
}
.your-class {
    /* float: left; */
    display: flex;
}
.fill_data input{
    font-size: 16px;
}
/* /////////////////////////////// */


/* css for the cake details page */
.main_infor {
    padding-top: 100px;
}
.group_button button {
    width: 40%;
    /* padding: 0px; */
    margin-top: 30px;
}
.main_infor h4, label {
    padding-top: 10px;
    font-size: 20px;
}
section.left_col {
    border: 1px solid grey;
    width: 200px;
    height: 106px;
    text-align: center;
}
section.stars_group {
    color: #ffd400;
}
.rate {
    display: flex;
}
section.right_col {
    width: 60%;
}
.progress {
   
    position: relative;
    left:80px;
}
span.number {
    /* padding-top: 10px; */
    position: absolute;
    padding-left: 6px;
}
section.comment {
    border-top: 1px solid grey;
    padding-top: 11px;
}
section.comment i {
    color: grey;
}
section.comment button {
    float: right;
    margin-right: 40px;
    margin-top: 8px;
}
section.comment {
    border-top: 1px solid grey;
    padding-top: 11px;
}
/* /////////////////////////////// */

/* Responsive */
@media only screen and (max-width: 600px) {
   .view_all_news {
       padding: 64px 0px 5px 0px;
   }
   .text h1 {
       font-size: 14px;
   }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    .view_all_news {
        padding: 64px 0px 5px 0px;
    }
    .text h1 {
        font-size: 14px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .view_all_news {
        padding: 64px 0px 5px 36px;
    }
    .text h1 {
        font-size: 14px;
    }
}