body {
  background-color: white;
  width: 100%;
  height: 100px;
  font-size: 18px !important;
  font-family: "Darker Grotesque", sans-serif;
}
.page {
  font-family: "Darker Grotesque";
}
#topbar {
  height: 45px;
  color: black;
  background-color: yellow;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 0px 0px 100px;
}
#menusection {
  background-color: white;
  color: black;
  font-weight: 500;
  /* overflow: hidden; */
}
.logo {
  padding-top: 20px;
  padding-left: 70px;
}
a.nav-link {
  font-size: 19px;
  /* font-weight: 600; */
}
/* search section */

section.search {
  padding-top: 33px;
}
input#search {
  width: 380px;
  height: 38px;
  background: #ffffff;
  border: 1px solid black;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  left: 10px;
}
.search button {
  border: 1px solid black;
  padding: 5.5px 20px;
  background-color: black;
  color: white;
  border-radius: 10px 10px 10px 10px;
}
/* end search section */

/*dropdown*/
.col3 span {
  display: table-cell;
  padding-left: 10px;
  padding-top: 40px;
}
select#account {
  font-weight: 600;
  font-weight: 600;
  border: none;
  width: 96px;
}
span.cart_icon {
  font-size: 30px;
  /* padding-top: 10px; */
}
.cart {
  padding-top: 24px;
}
table.table.table-bordered.tbl-cart td {
  text-align: center;
}
/********/

/* navigation */
nav.navbar.navbar-expand-lg.navbar-light {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  font-weight: bold;
  color: black;
}

ul.navbar-nav li {
  padding-left: 58px;
}

/* ///////////// */

/* new kind of cakes */
.newcake h2 {
  text-align: center;
  align-content: center;
  margin: 0 auto;
  font-family: "Darker Grotesque";
  padding-top: 10px;
  font-weight: 600;
}
.product_title {
  font-family: "Darker Grotesque";
  font-weight: 600;
}
.newcake {
  padding-bottom: 33px;
  padding-top: 33px;
  font-family: serif;
}
/* //////////////// */

/* Carousel product slider */
.test {
  padding-bottom: 30px;
}
.carousel-control.left {
  background-image: unset !important;
}
.carousel-control.right {
  background-image: unset !important;
}
.carousel-control {
  padding-top: 10%;
  width: 5%;
  font-size: 58px !important;
  color: #fff !important;
  opacity: 1 !important;
}
.plus_narrow {
  text-align: center;
  font-size: 26px;
  padding-bottom: -2px;
}
.card-body {
  position: relative;
  box-shadow: 0px 5px 35px -23px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}
.card-body a {
  background: none !important;
  background-color: none !important;
}
.card-icon {
  position: absolute;
  font-size: 26px;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.plus a {
  color: black !important;
}
.right a {
  color: #f6c71f !important;
}
/* .card-body::after{
    content: "\f055";
    font-family: "FontAwesome";
    position: absolute;
    bottom: -20px;
    left: 42%;
    font-size: 26px;
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}
.card-body::before{
    content: "\f0a9";
    font-family: "FontAwesome";
    position: absolute;
    bottom: -20px;
    right: 42%;
    font-size: 26px;
    transform: translateX(-50%);
    z-index: 999;
    color: #ebd24c;
    cursor: pointer;
} */

.circle_icon {
  background-color: white;
}
.arrow_right {
  color: #f6c71f;
}
.item img {
  width: 100%;
  height: 320px;
}
.item .card {
  border: none;
}
.card-body a {
  color: #2d2e33;
}
.carousel-control {
  width: 4% !important;
}
/* ////////////////// */

/* footer */
div#footer {
  padding-top: 20px;
  margin-top: 50px;
  width: 100%;
  height: 250px;
  background-color: black;
  color: white;
}

.btnDangKy {
  margin-top: 8px;
  position: absolute;
  left: 37%;
}

.social_networks {
  font-size: 26px;
  text-align: center;
}
.social_networks i {
  color: white;
}
div#footer h3 {
  text-align: center;
  color: yellow;
  padding-bottom: 30px;
}
.first_col p {
  padding-left: 63px;
}
/* //////////////// */

/* /////scroll to top////// */
a#bottom {
  font-size: 48px;
  /* background: white; */
  color: white;
  float: right;
}

/* ////////////// */

.labels {
  padding-top: 32%;
}

.labels label {
  padding-bottom: 15px;
  padding-left: 90px;
}
.form-check-inline {
  display: -ms-inline-flexbox;
  display: table-cell;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
  .logo {
    padding-top: 20px;
    padding-left: 0px;
  }
  span.user_icon i {
    /* padding-left: 5px; */
    position: relative;
    left: 10px;
  }
  section.logo img {
    width: 100%;
    height: 66px;
  }
  #topbar {
    padding: 12px 0px 0px 22px;
  }
  input#search {
    width: inherit;
  }
  .search button {
    padding: 5.5px 18px;
    padding: 5.5px 18px;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
  }
  select#account {
    width: 86px;
  }
  .cart {
    padding-top: 30px;
    padding-left: 52px;
  }
  nav.navbar.navbar-expand-lg.navbar-light {
    margin: 0;
  }
  .hot_products {
    padding: 30px 0px 21px 73px !important;
  }
  div#footer {
    height: auto;
    font-size: 15px;
  }
  div#footer h3 {
    font-size: 18px;
  }
  .first_col p {
    padding-left: 0px;
  }
  .btnDangKy {
    left: 27%;
  }
  .social_networks {
    font-size: 20px;
  }
  a#bottom {
    font-size: 42px;
  }
  nav.navbar.navbar-expand-lg.navbar-light {
    text-align: left;
  }
  .navbar {
    display: flow-root;
  }

  /* css trang thông tin tài khoản */
  .labels label {
    padding-bottom: 13px;
    padding-left: 0px;
    padding-top: 6px;
    position: relative;
    top: 18px;
    font-size: 15px;
  }
  .title_signup {
    font-size: 15px !important;
  }

  /* //////////////////////////// */

  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    right: 190px;
  }
  .checkout {
    margin-left: 80px;
  }
  h5.card-title {
    font-size: 19px !important;
  }
  .btn_send {
    font-size: 14px;
    height: 30px !important;
  }
  .group_button button {
    width: 100% !important;
  }
  .main_infor {
    padding-top: 0px !important;
  }
  .main_infor h4,
  label {
    font-size: 16px !important;
  }
  img.cake_avatar {
    height: 135px;
  }
  .contact_btn_send {
    transform: translate(174px, 0%) !important;
  }
  .contact_infor {
    font-size: 23px !important;
  }
  section.left_col {
    height: 120px !important;
  }
  .avatar_commenter {
    width: 45px;
  }
  .checkout_btn {
    /* top: 0px; */
    position: relative;
    top: -10px !important;
    left: 0px !important;
  }
  .fill_data {
    /* margin-top: 82px; */
    position: relative;
    top: 16px;
  }
  .discount_code {
    width: 100% !important;
    /* margin: 0 auto; */
  }
  .apply_btn {
    margin-left: 32px;
    margin-top: 6px;
    border-radius: 0px;
  }
  .your-class {
    /* float: left; */
    display: block !important;
  }
  .your-class input {
    /* float: left; */
    display: flex;
    margin-bottom: 6px;
  }
  .main_body {
    height: 660px !important;
  }
  .w-100 {
    height: 225px;
  }
  textarea {
    width: 290px;
  }
  section.comment button {
    margin-right: 108px !important;
    margin-top: 15px;
    margin-bottom: 19px !important;
  }
  /* .news_post {
    height: 316px !important;
  } */
  .newcake h2 {
    font-size: 26px;
  }
  input.input-qty.form-control.text-center {
    width: 30px;
  }
  .post_ {
    height: 323px !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
  .post_ {
    height: 323px !important;
  }
}
@media only screen and (min-width: 570px) and (max-width: 768px) {
  input.input-qty.form-control.text-center {
    width: 30px;
  }
}
@media only screen and (min-width: 570px) and (max-width: 800px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  img.card-img-top.customize_img {
    height: 110px !important;
  }
}
@media only screen and (min-width: 570px) and (max-width: 990px) {
  .item img {
    width: 100%;
    height: 100px;
  }
  .fa {
    font-size: smaller !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .logo {
    padding-top: 20px;
    padding-left: 0px;
  }
  .contact_infor {
    font-size: 30px !important;
  }
  section.logo img {
    width: 100%;
    height: 80px;
  }
  span.user_icon i {
    /* padding-left: 5px; */
    position: relative;
    left: 10px;
  }
  #topbar {
    padding: 12px 0px 0px 22px;
  }

  input#search {
    width: inherit;
  }

  .search button {
    padding: 5.5px 18px;
    padding: 5.5px 18px;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
  }

  select#account {
    width: 86px;
  }

  .cart {
    padding-top: 30px;
    padding-left: 52px;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    margin: 0;
  }

  .hot_products {
    padding: 30px 0px 21px 73px !important;
  }

  div#footer {
    height: auto;
  }

  .first_col p {
    padding-left: 0px;
  }

  .btnDangKy {
    left: 27%;
  }

  .social_networks {
    font-size: 20px;
  }

  a#bottom {
    font-size: 42px;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    text-align: left;
  }

  .navbar {
    display: flow-root;
  }
  /* css trang thông tin tài khoản */
  .labels label {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-top: 9px;
    position: relative;
    top: 70px;
  }

  .title_signup {
    font-size: 15px !important;
  }
  .labels {
    padding-top: 11px;
    position: relative;
    bottom: 32px;
  }
  /* //////////////////////////// */
  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    right: 190px;
  }

  .checkout {
    margin-left: 80px;
  }
  h5.card-title {
    font-size: 13px !important;
  }
  .btn_send {
    font-size: 16px;
  }
  .contact_btn_send {
    transform: translate(50px, 0%) !important;
  }
  .main_infor h4,
  label {
    font-size: 16px !important;
  }

  img.cake_avatar {
    height: 135px;
  }

  .contact_btn_send {
    transform: translate(174px, 0%) !important;
  }

  .contact_infor {
    font-size: 23px !important;
  }
  h5.card-title {
    font-size: 19px !important;
  }

  .btn_send {
    font-size: 14px;
    height: 30px !important;
  }

  .group_button button {
    width: 100% !important;
  }

  .main_infor {
    padding-top: 0px !important;
  }
  section.left_col {
    height: 120px !important;
  }
  .avatar_commenter {
    width: 45px !important;
  }
  .checkout_btn {
    /* top: 0px; */
    position: relative;
    top: -10px !important;
    left: 12px !important;
  }
  .fill_data {
    /* margin-top: 82px; */
    position: relative;
    top: 16px;
  }

  .your-class {
    /* float: left; */
    display: block !important;
  }

  .your-class input {
    /* float: left; */
    display: flex;
    margin-bottom: 6px;
  }
  /* 
       #mainBody {
         height: 660px !important;
       } */
  span.test {
    /* float: right; */
    padding-left: 3%;
  }
  textarea {
    width: 290px;
  }

  section.comment button {
    margin-right: 190px !important;
    margin-top: 15px;
    margin-bottom: 19px !important;
  }
  .main_body {
    height: 660px !important;
  }
  div#footer {
    height: auto;
    font-size: 15px;
  }

  div#footer h3 {
    font-size: 18px;
  }
  .w-100{
     height: 225px;
  }
  .newcake h2 {
    font-size: 26px;
  }

}
@media only screen and (min-width: 770px) and (max-width: 990px) {
  .contact_btn_send {
    transform: translate(107px, 0%) !important;
  }
  textarea {
    width: 470px;
  }
  section.comment button {
    margin-right: 130px !important;
    margin-top: 15px;
    margin-bottom: 19px !important;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .logo {
    padding-top: 20px;
    padding-left: 0px;
  }
  img.card-img-top.customize_img {
    height: 110px !important;
  }
  section.logo img {
    width: 100%;
    height: 80px;
  }

  #topbar {
    padding: 12px 0px 0px 22px;
  }
  span.user_icon i {
    /* padding-left: 5px; */
    position: relative;
    left: 10px;
  }
  input#search {
    width: 240px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .search button {
    padding: 5.5px 18px;
    padding: 5.5px 18px;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
  }

  select#account {
    width: 86px;
  }

  .cart {
    padding-top: 30px;
    padding-left: 52px;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    margin: 0;
  }

  .hot_products {
    padding: 30px 0px 21px 73px !important;
  }

  div#footer {
    height: auto;
  }

  .first_col p {
    padding-left: 0px;
  }

  .btnDangKy {
    left: 27%;
  }

  .social_networks {
    font-size: 20px;
  }

  a#bottom {
    font-size: 42px;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    text-align: left;
  }

  .navbar {
    display: flow-root;
  }
  /* css trang thông tin tài khoản */
  .labels {
    padding-top: 58%;
  }
  .labels label {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-top: 8px;
    position: relative;
    top: 0px;
  }
  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    right: 92px;
  }

  .checkout {
    margin-left: 40px;
  }
  /* //////////////////////////// */
  .main_infor h4,
  label {
    font-size: 16px !important;
  }

  img.cake_avatar {
    height: 135px;
  }

  .contact_btn_send {
    transform: translate(174px, 0%) !important;
  }

  .contact_infor {
    font-size: 23px !important;
  }

  h5.card-title {
    font-size: 19px !important;
  }

  .btn_send {
    font-size: 14px;
    height: 30px !important;
  }

  .group_button button {
    width: 100% !important;
  }

  .main_infor {
    padding-top: 0px !important;
  }
  .checkout_btn {
    /* top: 0px; */
    position: relative;
    top: -10px !important;
    left: 38px !important;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1024px) {
  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    right: 32px;
  }
  .checkout {
    margin-left: 8px;
  }
  span.user_icon i {
    /* padding-left: 5px; */
    position: relative;
    left: 10px;
  }
  .contact_btn_send {
    transform: translate(164px, 0%) !important;
  }
  .group_button button {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  /* css trang thông tin tài khoản */
  .labels {
    padding-top: 30%;
  }
  section.comment button {
    float: right;
    position: relative;
    left: 112px;
    margin-top: 8px;
  }
  .labels label {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-top: 5px;
    position: relative;
    top: 14px;
  }
  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    right: 22px;
  }
  input#search {
    width: 330px;
  }
  .group_button button {
    width: 100% !important;
  }
  .checkout_btn {
    /* top: 0px; */
    position: relative;
    top: -10px !important;
    left: 38px !important;
  }
  /* //////////////////////////// */
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .btn_continue_shopping {
    width: 150px !important;
    position: relative;
    left: 24px;
  }
  .checkout {
    margin-left: -26px;
  }
  .labels label {
    padding-bottom: 21px;
    padding-left: 0px;
    padding-top: 7px;
    position: relative;
    top: 0px;
  }
}
